@charset "utf-8";

body {font-family: "Kalnia", sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000; }
.inner { max-width: 1640px; padding: 0 20px; margin: 0 auto;}

/* header  */
#header {padding-top: 30px; position: absolute; left: 0; top: 0; width: 100%;z-index: 2; }
#header .inner {position: relative; max-width: 1740px; display: flex; justify-content: space-between; align-items: center; color: #fff;}
#header h1 { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#header .gnb { display: flex;}
#header .gnb > li > a { display: block; padding: 10px 20px; font-size: 2rem;}
#header .gnb > li { position: relative;}

#header .gnb > li .depth2 {display: none; position: absolute; width: 500px; color: rgba(255, 255, 255, 0.7);}
#header .gnb > li .depth2 > li { display: inline-block;  padding: 0 10px; }
#header .util { display: flex; gap: 30px;}
#header .util .btn_search { background: transparent; border: 0; cursor: pointer; }

#header .btn_ham { display: none; border: 0; background: transparent; cursor: pointer;}

@media (max-width:1200px){
    #header .gnb { display: none;}
    #header .btn_ham {display: block;}
    #header .util li:not(:last-child) {display: none;}
}
@media (max-width:700px){
    #header h1 {position: static; transform: translate(0, 0);}
    #header .util {display: none;}

}

/* mgnb */
.dim {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); }
.mgnb_wrap {position: fixed; right: -100%; top: 0; width: 80%; height: 100%; padding: 100px 50px 0; background: #fff; color: #000; font-size: 2.5rem; }
.mgnb_wrap .mgnb {border-top: 1px #999 solid; border-bottom: 1px #999 solid; padding: 35px 20px; line-height: 2;}
.mgnb_wrap span { color: #999; font-style: italic; font-size: 1.4rem;}
.mgnb_wrap .mgnb_close { position: absolute; top: 50px; right: 50px; border: 0; background: transparent; cursor: pointer; }


/* search */
.search {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff; z-index: 20;}
.search form { position: absolute; left: 0; width: 100%; top: 50%; transform: translateY(-50%); }
.search fieldset { width: 50%; max-width: 1200px; margin: 0 auto;}/* 가운데로 */
.search .input_box { display: flex; } /* ?? */
.search .input_box input[type="text"] {padding: 10px; outline: none; font-family: inherit; font-size: 2rem; background: transparent; width: calc(100% - 50px); border: 0; border-bottom: #000 3px solid; }
.search .input_box input[type="submit"] { width: 50px; height: 50px; border: 0; border-bottom: 3px #000 solid; font-size: 0; background: url(../images/search.png) no-repeat center; cursor: pointer;}
.search .tag_box { display: flex; gap: 20px; padding: 10px;  white-space: nowrap;}
.search .search_close { position: absolute; left: 50%; top: 0; border: 0; background: #000; padding: 20px; cursor: pointer;}



/* visual  */
.visual { margin: 0;}
.visual .visual01 { position: relative; background: url(../images/visual_01.jpg) no-repeat center / cover; height: 900px;}
.visual .visual02 {position: relative; background: url(../images/visual_02.jpg) no-repeat center / cover;height: 900px; }/* 사진이 안나옴 */
.visual .visual_list { height: 900px;}
.visual .visual_txt { position: absolute; top: 40%; bottom: auto; left: 0; width: 100%; text-align: center;  color: #fff;}
.visual .visual_txt strong { font-size: 4rem; text-transform: capitalize; font-weight: 400; }
.visual .visual_txt h3 { font-size: 3.5rem; font-weight: 400; margin-top: 40px;}


.visual .swiper-pagination {color: #fff; font-family: sans-serif; bottom: 10%; }
.visual .swiper-button-prev::after { display: none; }
.visual .swiper-button-next::after { display: none;}

.visual .swiper-button-prev { background: url(../images/arrow_prev.png) no-repeat; width: 40px; height: 20px; top: auto; bottom: 10%; left: calc(50% - 100px); z-index: 11; }
.visual .swiper-button-next {background: url(../images/arrow_next.png) no-repeat; width: 40px; height: 20px; top: auto; left:calc(50% + 60px); bottom: 10%; z-index: 11; }

@media (max-width:1200px) {
    .visual .visual_list { height: 750px;}
    .visual .visual01, .visual02 { height: 750px;}
    .visual .visual_txt strong { font-size: 3.5rem; }
    .visual .visual_txt h3 { font-size: 3rem; }
}

@media (max-width:700px) {
    .visual .visual_list { height: 600px;}
    .visual .visual01, .visual02 { height: 600px;}
    .visual .visual_txt strong { font-size: 3rem; }
    .visual .visual_txt h3 { font-size: 2.5rem;}
}

/* 공통 */
h2 { font-size: 5rem;}
section {margin: 200px 0; }
h2 + p { font-size: 2rem; opacity: 0.5; padding: 50px 0;}
.btn_more a { border-bottom: 1px #000 solid; }

@media (max-width:1200px){
    h2 { font-size: 4rem;}  
}
@media (max-width:700px){
    h2 { font-size: 3rem;}  
    h2 + p { font-size: 1.6rem; padding: 40px 0;}
}

/* info */
.info { text-align: center;}
.info .inner { position: relative;}
.info br {display: none;}
.info .info_list .info_list_img {position: relative;}
.info .info_list .info_list_img img { width: 100%;}
.info .info_box { position: absolute; left: 0; top: 0;  }
.info .info_box a {display: block; padding: 20px 40px; background: #000; color: #fff; align-items: center;}
.info .info_list .swiper-slide { opacity: 0.5; transform: scale(0.9); }
.info .info_list .swiper-slide-active { opacity: 1; transform: scale(1);}

.info .inner .info-prev {color: transparent; width: 120px; height: 60px; background: #000 url(../images/arrow_prev.png) no-repeat center; }
.info .inner .info-next {color: transparent; width: 120px; height: 60px; background: #000 url(../images/arrow_next.png) no-repeat center; }

.info .btn_more { display: none; }


@media (max-width:1200px){
    .info .btn_more { display: block; text-align: center; margin-top: 40px;}
    .info br {display: block;}

    .info .inner .info-prev { display: none;}
    .info .inner .info-next { display: none;}
}


/* brand */
.brand .brand_slide { display: flex; flex-wrap: wrap; align-items: center; text-align: center; background: #eee; }
.brand .brand_slide > div { width: 50%; }

.brand h2 {font-size: 5rem;}
.brand p {font-size: 2rem; opacity: 0.5; padding: 50px 0;}
/* .brand .btn_more a { border-bottom: 1px solid #000;} */
.brand .brand_img img { width: 100%;}
.brand .brand_img_list .swiper-pagination .swiper-pagination-bullet { background: #fff; opacity: 1; }
.brand .brand_img_list .swiper-pagination .swiper-pagination-bullet-active { width: 30px; border-radius: 10px; background: #ff6600; transition: all 0.5s;}

@media (max-width:1160px){

    .brand .brand_slide > div { width: 100%; }
    .brand .brand_txt { margin: 50px 0;}
    .brand h2 {font-size: 3.5rem;}
    .brand p {font-size: 1.8rem; padding: 40px 0;}
}
@media (max-width:700px){
    .brand h2 {font-size: 3rem;}
    .brand p {font-size: 1.6rem; }
}

.gallery { text-align: center;}
.gallery > p > br { display: none;}
.gallery ul {display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.gallery ul li {transition: all 0.5s; color: #fff; width: 25%; height: 500px;}

.gallery ul li:nth-child(1) { background: url(../images/gallery_01.jpg) no-repeat center / cover;}
.gallery ul li:nth-child(2) { background: url(../images/gallery_02.jpg) no-repeat center / cover;}
.gallery ul li:nth-child(3) { background: url(../images/gallery_03.jpg) no-repeat center / cover;}

.gallery .gallery_txt { padding: 180px 0; transition: all 0.5s;}
.gallery .gallery_txt h3 { font-weight: 300;}
.gallery .gallery_txt p {opacity: 0; margin: 20px 0; }
.gallery .btn_more a {opacity: 0; color: rgba(255, 255, 255, 0.7); border-bottom: rgba(255, 255, 255, 0.7) 1px solid;}

.gallery ul li.active { width: 50%;}
.gallery ul li.active .gallery_txt p { opacity: 1;}
.gallery ul li.active .gallery_txt .btn_more a { opacity: 1; }

@media (max-width:1160px){
    .gallery > p > br { display: block;}
    .gallery ul li{ width: 100%; height: 300px; }
    .gallery .gallery_txt { padding: 80px 0; }
    .gallery .gallery_txt p {opacity: 1; }
    .gallery .btn_more a {opacity: 1;}

    .gallery ul li.active { width: 100%;}
}


/* footer */
#footer {position: relative; border-top: #ddd 1px solid; text-align: center; color: #999; font-family: "Pretendard";}
#footer .gotop a {position: absolute; left: 50%; width: 50px; height: 50px; border: #ddd 1px solid; line-height: 50px; border-top: 0; }
#footer .f_txt { padding: 100px 0; }
#footer .f_list { display: flex; justify-content: center; text-align: center; }
#footer .f_list li a {padding: 0 15px; border-right: #999 1px solid;}
#footer .f_list li:last-child a { border-right: 0; }
#footer br {display: none;}
#footer .f_list2 { margin: 30px 0;}
#footer .f_list2 p { display: inline-block; padding: 0 10px;}
#footer .f_txt .copyright { margin-bottom: 50px;}
#footer .f_txt .footer_logo a { padding-top: 20px; border-top: 1px solid #ddd; }


@media (max-width:1160px){     
    #footer .f_txt { padding: 80px 0; }

}
@media (max-width:700px){
    #footer { font-size: 1.4rem;}
    #footer .f_list2 p { display: block; line-height: 2;}
    #footer .f_txt { padding: 60px 0; }
    #footer .gotop a { width: 30px; height: 30px; line-height: 30px;}
    #footer .gotop a img { width: 10px;}
}